[Unit]
Description=File Distributor Service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3.7 /usr/sbin/file_distributor.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target